<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feedbin Pages to Kindle</title>
  <meta name="description" content="Send Feedbin Pages to your Kindle">
  <meta name="author" content="Ben Johnson">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<main class="main">
